@import "component/index";
@import "component/footer";
@import "component/navBar";
@import "component/login";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}