@import "component/index";
@import "component/footer";
@import "component/navBar";
@import "component/login";
@import "component/manager";
@import "component/editEmployee.scss";
@import "component/editCustomer.scss";
@import "component/customerPage.scss";
@import "component/reseptionEmployee.scss";
@import "component/trainerEmployee.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}