<div class="managerTools">
    <a href="/manager">Home Page</a>   
    <a href="/editEmployee">Edit Employee</a>
    <a href="/editCustomers">Edit Customers</a>
    <a href="/expenses">expenses</a>
    <a href="/reports">Reports</a>
</div>