
<nav class="navBar">
    <h1 class="logo">PFAS</h1>
    <ul class="nav">
        <li><a href="/login">logIn</a></li>                
        <li><a href="#">Plans</a></li>
        <li><a href="#">Schedule</a></li>
    </ul>
</nav>
