<%- include ("component/header"); -%>


<div class="manager">
    <div class="managerNav">
        <h1 class="logo">PFAS</h1>
        <h1 class="welcomeText">
            Customer page.
        </h1>
        <ul>
            <li><a href="/">logOut</a></li>
        </ul>
    </div>
</div>


<%- include ("component/footer"); -%>