<%- include ("component/header"); -%>
<div class="managerNav">
    <h1 class="logo">PFAS</h1>
    <h1 class="welcomeText">
        Customer page.
    </h1>
    <ul>
        <li><a href="/">logOut</a></li>
    </ul>
</div>
<%- include ("component/managerTools"); -%>


<div class="customers editEmployee">
    <div class="customerSearch">
        <form action="/customerAdd" method="post">
            <input type="text" placeholder="New Customer Full Name" name="NewCustomerName">
            <button type="submit">Add Customer</button>
        </form>
        <form action="/customerSearch" method="post">
            <input type="text" placeholder="Customer Name" name="searchCustomerName">
            <button type="submit">Search</button>
        </form>
    </div>

    <div class="employeeResult">
        <% customerSerach.forEach( customer =>{ %>
             <div class="employee">
                  <h1>
                     <%= customer.userName %>
                  </h1>   
             </div>
         <% }) %>       
     </div>

</div>



<%- include ("component/footer"); -%>