<%- include ("component/header"); -%>
<div class="managerNav">
    <h1 class="logo">PFAS</h1>
    <h1 class="welcomeText">
        Customer page.
    </h1>
    <ul>
        <li><a href="/">logOut</a></li>
    </ul>
</div>
<%- include ("component/managerTools"); -%>


<div class="customers">
    <div class="customerSearch">
        <form action="/customerAdd" method="post">
            <input type="text" placeholder="New Customer Full Name" name="NewCustomerName">
            <button type="submit">Add Customer</button>
        </form>
        <form action="/customerSearch" method="post">
            <input type="text" placeholder="Customer Name" name="searchCustomerName">
            <button type="submit">Search</button>
        </form>
    </div>

    <div class="customerResult">
        <h1>customerResult</h1>
    </div>

</div>



<%- include ("component/footer"); -%>