<%- include ("component/header"); -%>
<%- include ("component/navBar"); -%>


<header class="headerSection">
    <div class="headerTitle">
        <h1>
            <span class="power">Power</span> Fitness <span class="power">and</span> Strength
        </h1>
        <a href="#" class="plans">Our Plans</a>
        <a href="#" class="info">More Info</a>
    </div>
</header>


<section class="utilities">
    <h1 class="sectionTitle">Our Gym Sections</h1>
    <div class="utility left cardio" data-aos="fade-left">
        <h1>Cardio Area</h1>    
    </div>
    <div class="utility right power" data-aos="fade-right">
        <h1>power Area</h1>
    </div>
    <div class="utility left swimming" data-aos="fade-left">
        <h1>swimming pool</h1>              
    </div>
    <div class="utility right tennis" data-aos="fade-right">
        <h1>tennis court</h1>        
    </div>

</section>







<%- include ("component/footer"); -%>