<%- include ("component/header"); -%>
<%- include ("component/navBar"); -%>


<header class="headerSection">
    <div class="headerTitle">
        <h1>
            <span class="power">Power</span> Fitness <span class="power">and</span> Strength
        </h1>
        <a href="#" class="plans">Our Plans</a>
        <a href="#" class="info">More Info</a>
    </div>
</header>


<section class="utilities">
    <div class="utility left">

    </div>
    <div class="utility right">
        
    </div>
    <div class="utility left">
        
    </div>
    <div class="utility right">
        
    </div>

</section>







<%- include ("component/footer"); -%>