<%- include ("component/header"); -%>
<%- include ("component/navBar"); -%>

<div class="login">
    <form action="/login" method="post">
        <input type="text" placeholder="User Name" name="userName">
        <input type="password" placeholder="Password" name="password">
        <button type="submit">Login</button>
    </form>
</div>


<%- include ("component/footer"); -%>