<%- include ("component/header"); -%>
<div class="managerNav">
    <h1 class="logo">PFAS</h1>
    <h1 class="welcomeText">
        welcome to the manager page.
    </h1>
    <ul>
        <li><a href="/">logOut</a></li>
    </ul>
</div>
<div class="manager">
    
    <%- include ("component/managerTools"); -%>
    <div class="financeInfo">
        <h1>whatever</h1>
        <h1>whatever</h1>
    </div>
</div>


<%- include ("component/footer"); -%>