<%- include ("component/header"); -%>
<div class="managerNav">
    <h1 class="logo">PFAS</h1>
    <h1 class="welcomeText">
        welcome to the manager page.
    </h1>
    <ul>
        <li><a href="#">logOut</a></li>
    </ul>
</div>
<div class="manager">
    
    <div class="managerTools">        
            <a href="#">Edit Employee</a>
            <a href="#">Edit Customers</a>
            <a href="#">expenses</a>
            <a href="#">Reports</a>
    </div>
    <div class="financeInfo">
        <h1>whatever</h1>
        <h1>whatever</h1>
    </div>
</div>


<%- include ("component/footer"); -%>