<%- include ("component/header"); -%>

<div class="managerNav">
    <h1 class="logo">PFAS</h1>
    <h1 class="welcomeText">
        welcome to the trainer page.
    </h1>
    <ul>
        <li><a href="/">logOut</a></li>
    </ul>
</div>

<div class="manager">
    <div class="managerTools">
        <a href="/trainerEmployee">Home Page</a> 
        <a href="/editCustomers">Edit Customers</a> 
        <a href="/employeeInfo">Your information</a>
    </div>
</div>
<%- include ("component/footer"); -%>