.editEmployee::-webkit-scrollbar {
  display: none; }

.editEmployee {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  margin-bottom: 30px; }
  .editEmployee .employeeSearch {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 10vh; }
    .editEmployee .employeeSearch form input {
      font-size: 20px;
      height: 40px;
      padding-left: 10px;
      width: 300px;
      margin-right: 20px;
      border: 1px solid #000;
      border-radius: 5px; }
    .editEmployee .employeeSearch form button {
      background-color: #fff;
      border: 1px solid #DA1212;
      height: 40px;
      width: 180px;
      font-size: 15px;
      text-transform: uppercase;
      border-radius: 10px;
      transition: all .3s; }
      .editEmployee .employeeSearch form button:hover {
        background-color: #DA1212;
        color: #fff; }
  .editEmployee .employeeResult {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .editEmployee .employeeResult .employee {
      border: 1px solid #000;
      width: 25%;
      height: 450px;
      margin: 50px 40px; }
